{% extends 'base_generic.html' %}
{% block title %}Todo List{% endblock %}

{% load tz %}
{% load humanize %}
{% load date_filters %}

{% block content %}
  <div class="container">
    <h2 class="my-3" style="text-align:center">AMB todo-list</h2>
    {% for date, tasks in tasks_by_date.items %}
    <h3>{{ date|pretty_date }}</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Posted Time</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td><a href="{% url 'task_list_user' task.user_id.id %}">{% if task.user_id == request.user %} Me {% else %}{{ task.user_id.email }} {% endif %}</a></td>
            <td>Posted {{ task.created_at|timesince }} ago</td>
            <td>{{ task.title }}</td>
            <td>{{ task.status }}</td>
            <td>
              <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#taskModal"
                 data-title="{{task.title}}" data-status="{{task.status}}" data-description="{{task.memo}}"
                 data-created_at="{{task.created_at}}" data-work_hours="{{task.work_hour|floatformat:'0'}}">View
              </a>
              {% if task.user_id == request.user and date|pretty_date == 'Yesterday' %}
                <a href="{% url 'task_edit' task.pk %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger btn-sm">Delete</a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No tasks yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}

  </div>
{% endblock %}